<div class="contact-card__wrapper">
	<div class="contact-card__img" [ngStyle]="{'background-image':'url('+profilePhotoUrl+')'}">
	</div>
	<div class="contact-card__info">
		<h3 class="contact-card__info-name">{{ contact.lastName }} {{ contact.firstName }} {{ contact.middleName }}</h3>
		<div class="contact-card__info-wrapper">
			<p class="contact-card__info-organization">
				{{ contact.organization}}
			</p>
			<p class="contact-card__info-department">
				{{ contact.department}}
			</p>
			<p class="contact-card__info-position">
				{{ contact.position}}
			</p>
			<p class="contact-card__info-phone">
				{{ contact.phone}}
			</p>
			<p class="contact-card__info-email">
				{{ contact.email}}
			</p>
		</div>
	</div>
</div>