@import '../../../../variables.scss';

.contact-card__wrapper {
    display: inline-flex;
    align-items: center;
    width: 33.33%;
    margin-bottom: 16px;

    @media (max-width: 1140px) {
        width: 50%;
    }

    @media (max-width: 767px) {
        width: 100%;
    }

}

.contact-card__img {
    width: 67px;
    height: 67px;
    background-size: contain;
    border-radius: 50%;
    margin-right: 28px;
}

.contact-card__info-name {
    font-size: $bigSize;
    font-weight: normal;
    color: $darkBlue;
    letter-spacing: 0.15px;
}

.contact-card__info-organization {
    font-size: $baseSize;
    color: $lightWhite;
    margin: 0 0 0.2rem;
}

.contact-card__info-department {
    font-size: $baseSize;
    color: $lightWhite;
    margin: 0 0 0.2rem;
}

.contact-card__info-position {
    font-size: $baseSize;
    color: $lightWhite;
    margin: 0 0 0.4rem;
}

.contact-card__info-phone {
    font-size: $baseSize;
    color: $darkBlue;
    margin: 0;
}

.contact-card__info-email {
    font-size: $baseSize;
    color: $darkBlue;
    margin: 0;
}