//import global project variables
@import "../../../../variables.scss";

.contacts-main__wrapper {
  display: block;
  margin: 0 auto;
  width: 1395px;
  max-width: calc(100% - 10px);
  border: 1px;
  border-color: $grey;
  background-color: $white;
  padding: 41px 51px 38px;
  box-sizing: border-box;

  @media (max-width: 1140px) {
    padding: 20px;
  }

  @media (max-width: 600px) {
    padding: 20px 10px;
  }

}

.paginator-block__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.paginator-block__item {
  display: inline-block;
  position: relative;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 2px $paginationColor solid;
  margin: 0 8px;
  transition: .2s ease-in-out;
  &:after {
    content: attr(data-attr);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: $mediumSize;
    font-weight: bold;
    color: $paginationColor;
    transition: .2s ease-in-out;
  }
  &.active {
    border-color: $paginationActiveColor;
    &:after {
      color: $paginationActiveColor;
    }
  }
  &.next {
    &:after {
      content: url('../../../../assets/icons/arrow-grey.svg');
      width: 10px;
      height: 14px;
    }
    &:before {
      content: url('../../../../assets/icons/arrow-white.svg');
      width: 10px;
      height: 14px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: .2s ease-in-out;
    }
    &:hover, &:focus {
      &:before {
        opacity: 1;
        visibility: visible;
      }
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &:not(.active) {
    &:hover, &:focus {
      cursor: pointer;
      background-color: $paginationHover;
      border: 2px $white solid;
      &:after {
        color: $white;
      }
    }
  }
}