<div class="contacts-filter__wrapper">
	<form class="contacts-filter__form" formGroup="fg">
		<!-- <div> -->
			<select class="contacts-filter__form-select" formControlName="select">
				<option value="option{{i}}" *ngFor="let option of selectOptions; let i = index">Option {{i}}</option>
			</select>
		<!-- </div> -->
		<!-- <div> -->
			<input class="contacts-filter__form-input" type="text" placeholder="Введите ФИО, должность или номер телефона" formControlName="input">
		<!-- </div> -->
	</form>
</div>
<div class="contacts-filter__toggle-wrapper">
	<input type="checkbox" id="toggle-button" class="contacts-filter__toggle-input">
	<label for="toggle-button" class="contacts-filter__toggle-label">Показать структуру контактов</label>
</div>