@import 'variables.scss';
@import 'assets/scss/normalize.scss';
@import 'assets/scss/fonts.scss';


body {
    background-color: $grey;

    font-size: $baseSize;
    line-height: 1.2;
    font-family: 'Roboto', Arial, sans-serif;
}