/* You can add global variables to this file*/;
$colorLightseagreen: lightseagreen;
$colorLightsalmon: lightsalmon;

$grey: #F7F7F7;
$white: #fff;
$darkGrey: #333333;
$darkBlue: #212121;
$lightWhite: #A6AAAD;
$borderGrey: #6E767D;
$lightBlue: #D7D7D7;

$checkedToggleBg: #AFAFAF;
$hoverToggler: #ebebeb;
$togglerColor: #FAFAFA;
$togglerText: #B3B3B3;

$headerUnderlineBg: #D7D7D7;

$paginationColor: #6E767D;
$paginationActiveColor: #ED1C24;
$paginationHover: #6E767D;

//  Font sizes

$smallSize: 11px;
$baseSize: 12px;
$mediumSize: 14px;
$bigSize: 16px;
$titleSize: 22px;